doctype html
html(lang='en')
  include includes/head.pug

  body#page-top
    include includes/nav.pug

    header.masthead.bg-img
      .container.h-100
        .row.h-100
          .col-lg-6.order-lg-12.my-auto
            img.product-img.img-fluid.mx-auto.d-block(src='img/plug-1.png' alt='youcontrol plug')
          .col-lg-6.order-lg-1.my-auto
            .header-content.mx-auto.text-center
              h1 Hack your own smart home!
              p
                | The first smart socket that runs your code.
                br
                | No API, no cloud, just raw control in any language.
              a.btn.btn-outline.btn-xl.js-scroll-trigger(href='#contact') Get Yours!
      .overlay

    section.languages.bg-primary.text-center#languages
      .container
        .section-heading.text-center
          h2 Speaks your language.
          p Start coding right away.
          hr
        .row
          .col-md-2.col-sm-4.col-6
            i.icon-ruby
          .col-md-2.col-sm-4.col-6
            i.icon-php
          .col-md-2.col-sm-4.col-6
            i.icon-python
          .col-md-2.col-sm-4.col-6
            i.icon-cplusplus
          .col-md-2.col-sm-4.col-6
            i.icon-rust
          .col-md-2.col-sm-4.col-6
            i.icon-nodejs

    section.features#features
      .container
        .section-heading.text-center
          h2 Unlimited possibilities, no vendor lock-in.
          p.text-muted Check out what you can do with it.
          hr
        .row
          .col-lg-4.col-md-6
            .feature-item
              i.mdi.mdi-linux.mdi-dark
              h3 Linux
              p.text-muted Upstream Linux with full root access.
          .col-lg-4.col-md-6
            .feature-item
              i.mdi.mdi-cloud-off-outline.mdi-dark
              h3 Cloud Free
              p.text-muted Cloud free privacy and control.
          .col-lg-4.col-md-6
            .feature-item
              i.mdi.mdi-github-circle.mdi-dark
              h3 Community-Driven
              p.text-muted Create and share your apps with the community.
          .col-lg-4.col-md-6
            .feature-item
              i.mdi.mdi-wifi.mdi-dark
              h3 Standard WiFi
              p.text-muted Connect it directly to your home network.
          .col-lg-4.col-md-6
            .feature-item
              i.mdi.mdi-chart-areaspline.mdi-dark
              h3 Energy Monitoring
              p.text-muted Measure your power consumption.

    section.cta
      .cta-content
        .container.text-center
          h2.mx-auto
            | Stop waiting.
            br
            | Start building.
          a.btn.btn-outline.btn-xl.js-scroll-trigger(href='#contact') Get Notified!
      .overlay

    section.contact.bg-primary#contact
      .container
        .section-heading
          h2 Get notified of product launches!
        .row
          .col-12.col-sm-10.col-md-8.col-lg-6.mx-auto
            #mc_embed_signup
              form#mc-embedded-subscribe-form(
                action=""
                method="post"
                name="mc-embedded-subscribe-form"
                class="validate"
                target="_blank"
                novalidate=true
              )
                .input-group
                  input.form-control.email#mce-EMAIL(
                    type="email" 
                    value="" 
                    name="EMAIL"
                    placeholder="Your email" 
                    required=true
                  )
                  div(style="position: absolute; left: -5000px;" aria-hidden="true")
                    input(type="text" name="" tabindex="-1" value="")
                  span.input-group-btn
                    input.btn.btn-primary.button.submit#mc-embedded-subscribe(
                      type="submit"
                      value="Subscribe"
                      name="subscribe"
                    )

    include includes/footer.pug

    script(src='app.js')
